.SideBar{
  height:calc(100vh - var(--header-heght));
  width:var(--sidebar-width);
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);

  position:relative;
  transition: width 0.3s;

}

.switchers{
  position: absolute;
  bottom:20px;
  display:flex;
  justify-content:center ;
  width: 100%;
}


.lang{
  margin-left: 12px;
}
.collapsBtn{
  position: absolute;
  right:-40px;
  bottom:40px;
}
.link_items{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  flex:1;
  margin-left: 20px;
}
.link_item{
  display:flex;
  align-items:center;
  margin-top:20px;
}
.link{
  margin-left:10px;

}
.icon{
  width:24px;
  height: 24px;
  fill: var(--inverted-primary-color);
}

.collapsed{
  width: var(--sidebar-width-collapsed);

  .switchers{
    flex-direction: column;
    align-items: center;
  }
  .lang{
    margin-left: 0;
  }
  .link_item{
    justify-content: center;
  }
  .link{
    opacity: 0;
    transition:  0.3s opacity;
    width: 0;
  }
}